<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
    
        <thead align="center"><td colspan="4">Users</td></thead>
        <tbody>
           <tr>
               <td>ID</td>
               <td>NAME</td>
               <td>EMAIL</td>
               <td>USER TYPE</td>
           </tr>
           <tr>
               <td>1</td>
               <td>aaa</td>
               <td>aaa@gmail.com</td>
               <td>Admin</td>
           </tr>
           <tr>
            <td>2</td>
            <td>aaa</td>
            <td>aaa@gmail.com</td>
            <td>Admin</td>
        </tr>
        <tr>
            <td>3</td>
            <td>aaa</td>
            <td>aaa@gmail.com</td>
            <td>Admin</td>
        </tr>


        </tbody>

        <tfoot align="right"><td colspan="4"><a href="home.php">Go Home</a></td></tfoot>


    </table>
</body>
</html>